--- 
layout: default
---

<div class="landing">

	<div class="column">
	<span class="index-hu">Index</span>
	{% for correction in site.index-hu %}
		{% include correction.liquid correction=correction %}
	{% endfor %}

	<span class="magyar-idok">Magyar Idők</span>
	{% for correction in site.magyar-idok %}	
		{% include correction.liquid correction=correction %}
	{% endfor %}
</div>
<div class="column">
	<span class="hvg">HVG</span>
	{% for correction in site.hvg %}
		{% include correction.liquid correction=correction %}
	{% endfor %}

	<span class="origo">Origo</span>
	{% for correction in site.origo %}
		{% include correction.liquid correction=correction %}
	{% endfor %}
</div>

</div>
