@mixin bgColorWithHover($color) {
    background: $color;

    &:hover {
        background: lighten($color, 10%);
    }
}

.button {
    display: inline-block;
    font-weight: bold;
    padding: 0 24px;
    line-height: 48px;
}

.index-hu {
    @extend .button;
    @include bgColorWithHover(#ff9900);

    color: black;
}

.magyar-idok {
    @extend .button;
    @include bgColorWithHover(#128b97);

    color: white;
}

.hvg {
    @extend .button;
    @include bgColorWithHover(#e25900);

    color: white; 
}

.origo {
    @extend .button;
    @include bgColorWithHover(#155092);

    color: white;
}

.huszonnegy {
    @extend .button;
    @include bgColorWithHover(#64667a);

    color: #ffffff;  
}

.nyolcnyolcnyolc {
    @extend .button;
    @include bgColorWithHover(#e01365);

    color: #ffffff;  
}

.negynegynegy {
    @extend .button;
    @include bgColorWithHover(#29af0a);

    color: #ffffff;  
}

.pesti-sracok {
    @extend .button;
    @include bgColorWithHover(#F38C2D);

    color: #ffffff;  
}

.send-correction-button {
    @extend .button;
    @include bgColorWithHover(#339966);

    color: #ffffff;  
}

.request-correction-button {
    @extend .button;
    @include bgColorWithHover(#996633);

    color: #ffffff;  
}

.source-button {
    @extend .button;
    @include bgColorWithHover(#663399);

    color: #ffffff;  
}
