body, html {
    @extend .sans;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.white {
    background: #ffffff;
    padding: 12px;

    color: #333333;
}

.grey {
    background: #eeeeee;
    padding: 12px;

    color: #666666;
}

.black {
    background: #333333;
    padding: 12px;
    color: #cccccc;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.footer {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.padding {
    padding: 12px;
}

h2 {
    @extend .serif;

    line-height: 48px;
    font-size: 34px;
    margin: 0;
    padding: 12px 0;
    display: block;
    color: #000000;
    background: #ffffff;
    letter-spacing: 0.5px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    padding: 12px 0;
    margin: 0;
    color: #333333;
    letter-spacing: 0.25px;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
    margin: 0;
}

.quote {
    @extend .serif;
}

.center {
    text-align: center;
}

.column {
    display: block;
    float: left;

    @media (max-width: 700px) {
        float: none; 
        width: 100%!important;  
    }
}

.column-2 {
    width: 50%;
    @extend .column;
}

.column-3 {
    width: 75%;
    @extend .column;
}

.column-1 {
    width: 25%;
    @extend .column;
}

.correction {
    padding: 12px;
}

.header {
    padding: 24px 0;
}

.logo {
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background: url(/logo.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

input {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 48px;
    font-size: 32px;
    border: none;
    background: #eeeeee;
    outline: none;
    color: #003366;
}

label {
    text-align: right;
    display: block;
    line-height: 48px;
    padding: 14px 0;
}

textarea {
    border: 0;
    background: #eeeeee;
    padding: 0;
    margin: 0;
    font-size: 32px;
    margin: 0;
    outline: none;
    width: 100%;
    resize: vertical;
    color: #003366;
}

a {
    color: #336699;

    &:visited {
        color: #663399;
    }
}


