body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrapper {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

h2, a {
    line-height: 34px;
    margin: 0;
    padding: 0;
    display: inline;
    text-decoration: none;
    color: #000000;
}

.column {
    display: block;
    float: left;
    width: 50%;
}

.correction {
    padding: 10px;
}
