.logo {
    display: inline-block;
    font-weight: bold;
    padding: 0 24px;
    line-height: 48px;
}

.index-hu {
    @extend .logo;
    background: #ff9900;
    color: black;
}

.magyar-idok {
    @extend .logo;
    background: #128b97;
    color: white;
}

.hvg {
    @extend .logo;
    background: #e25900;
    color: white; 
}

.origo {
    @extend .logo;
    background: #155092;
    color: white;
}

.huszonnegy {
    @extend .logo;
    background: #64667a;
    color: #ffffff;  
}

.nyolcnyolcnyolc {
    @extend .logo;
    background: #e01365;
    color: #ffffff;  
}

.negynegynegy {
    @extend .logo;
    background: #29af0a;
    color: #ffffff;  
}

.pesti-sracok {
    @extend .logo;
    background:#F38C2D;
    color: #ffffff;  
}
