<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="description" content="{{ site.description }}">

	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82349820-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-82349820-2');
	</script>

	<link href="{{ " /css/main.css " | prepend: baseurl | append: cache_buster }}" media="screen" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville" rel="stylesheet">

	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml" />

	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>

<body>
	<div class="header">
		<!--<h1>Helyreigazítások</h1>-->
		<div class="logo"></div>
	</div>
	<div class="white">
		<div class="body">
			{{ content }}
		</div>
	</div>
	<div class="grey">
		<div class="footer">
			<div class="column">
				<div class="padding">
					<h3>Fontos linkek</h3>
					<p>A weboldalt szabad időmben készítem, nem fizetett érte senki, nem is várok érte semmit. Megígérhetem, hogy soha nem
						lesznek reklámok, és adományt se fogadok el.</p>
					<p>A weboldal teljes forráskódja szabadon hozzáférhető, szívesen látok pull requesteket is:</p>
					<p>
						<a class="source-button" target="_blank" href="https://github.com/andormade/helyreigazitasok">Forráskód</a>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="padding">
					<p>A helyreigazítási adatbázis sose lehet teljes közreműködők segítsége nélkül:</p>
					<p>
						<a class="send-correction-button" href="/kozremukodes">Helyreigazítás beküldése</a>
					</p>
					<p>Vicces lenne, de mi is hibázhatunk:</p>
					<p>
						<a class="request-correction-button">Helyreigazítás kérése</a>
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="white">
		<div class="footer center">

			<div class="padding">
				<p><span class="quote">„Attól, hogy valami nem bizonyítható, még igaz lehet.”</span> – Huszár László, internetes kommentelő</p>
			</div>

			<div class="clear"></div>
		</div>

	</div>

</body>

</html>
